<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div>Result:</div>
    <div>
        <h4>Part 1:</h4>
        <p><%= resultOne %></p>
    </div>
    <div>
        <h4>Part 2:</h4>
        <p><%= resultTwo %></p>
    </div>
</body>

</html>